.header {
  padding: 10px;
  background-color: #b0252e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 0px;
}
.logo {
  width: 60px;
}
.header h1 {
  color: #fff;
  margin: 0px;
  font-weight: bold;
  font-size: 1.5rem;
}
