.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f2f1f1;
  padding: 20px;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d85050;
  border-radius: 8px;

  img {
    max-width: 300px;
  }
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: #f2f1f1;
  border: none;
  padding: 0;

  h1 {
    background-color: #f2f1f1;
    color: #000;
    margin: 20px 0;
    font-weight: bold;
  }

  p {
    font-size: 1em;
    color: #000;
    margin-bottom: 30px;
  }
}

form {
  width: 100%;
  max-width: 400px;

  ion-item {
    --background: #f2f1f1;
    --border-color: #d3d3d3;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 8px;
    --padding-start: 20px;
    --padding-end: 20px;
    --placeholder-color: #d3d3d3;
    --color: #000;
    --label-color: #000;
    --label-position: floating;
    --label-margin-top: 0;
    --label-font-weight: 500;
    margin-bottom: 20px;
  }

  .errors {
    margin-top: -10px;
    margin-bottom: 15px;
    ion-text {
      display: block;
      color: #d85050;
    }
  }
}

ion-button {
  --background: #d85050;
  --color: #fff;
  --border-radius: 8px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

ion-button.fill-clear {
  --color: #d85050;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  padding: 0;
}
